/* Base */
:root {
  --transition-length: 80ms;
  --text-color: 0, 0, 0;
  --link-color: 60, 110, 237;
  --bg-color: 255, 255, 255;
  --accent-color: 100, 180, 255;
}

/* Cooler selection color */
::selection, ::-moz-selection {
  background: rgb(var(--text-color));
  color: rgb(var(--bg-color));
}

/* HTML and body */
html, body {
  margin: 0px;
  height: 100%;
  font-family:  "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
body {
  color: rgb(var(--text-color));
  background-color: rgb(var(--bg-color))
}
/* Hide scrollbar */
html::-webkit-scrollbar { display: none !important; }
html { -ms-overflow-style: none !important; scrollbar-width: none !important; }

#welcome, #first, #second {
    height: 100vh;
    position: relative;
}
#welcome .container {
    text-align: center;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 140%;
    font-weight: 300;
}
#welcome img,
#first img,
#second img {
    height: 5rem;
    transition: transform calc(var(--transition-length) * 2) ease;
}
#welcome img:hover,
#first img:hover,
#second img:hover {
    transform: scale(1.1);
}

#first, #second {
    margin: calc(10px + 3vw);
}

#first .container {
    width: 500px;
    position: absolute;
    margin: auto;
    left: 30%;
    margin-right: -70%;
    top: 50%;
    transform: translate(-30%, -50%);
}

#first .container h1 {
    padding-left: 20px;
    float: right;
}

#first .container p {
    text-align: left;
}

#second .container {
    width: 500px;
    position: absolute;
    margin: auto;
    left: 70%;
    margin-right: -30%;
    top: 50%;
    transform: translate(-70%, -50%);
}

.header {
    width: 100%;
    height: 90px;
}

#second .header h1 {
    float: right;
    padding-right: 20px;
}
#second .header img {
    float: right;
}

#second .container p {
    clear: right;
    text-align: right;
}

/* Link styling */
a {
  position: relative;
  color: rgb(var(--text-color));
  text-decoration-color: rgb(var(--text-color));
  transition: text-decoration-color var(--transition-length);
}
a:hover {
  text-decoration-color: rgba(var(--text-color), 0.0);
}


/* Code */
code {
  padding: .2em .4em;
  font-size: 80%;
  font-family: "IBM Plex Mono";
  background: rgba(130, 130, 130, 0.1);
  border-radius: 3px;
}
